In [4]:
import pandas as pd

In [5]:
import numpy as np

In [43]:
dates = pd.date_range('2020-01-01' ,'2025-01-01', freq = 'MS')

In [44]:
len(dates)

61

In [71]:
categories = ['News', 'Fashion', 'Tech', 'Travel']
print(categories)

['News', 'Fashion', 'Tech', 'Travel']

In [72]:
data = []

In [74]:
for cat in categories :
    base = np.random.randint(10000,30000)
    seasonality= np.sin(np.linspace(0, 12*np.pi, len(dates)))*3000
    noise = np.random.normal(0 , 1500 , len(dates))
    views = base + seasonality + noise

    for d, v in zip(dates, views):
        data.append([d , cat , max(0,int(v))])

In [75]:
#np.linspace will create random values , and the sine function will create values between -1 to +1 and this will be multipled with 3000 to visibily plot it

In [76]:
# simulates real world randomness

In [77]:
syn_data= pd.DataFrame(data, columns=['Date', 'Category', 'Views'])

In [78]:
syn_data.head(10)

        Date Category  Views
0 2020-01-01     News  25062
1 2020-02-01     News  26317
2 2020-03-01     News  29608
3 2020-04-01     News  27264
4 2020-05-01     News  28253
5 2020-06-01     News  24896
6 2020-07-01     News  25711
7 2020-08-01     News  25018
8 2020-09-01     News  23338
9 2020-10-01     News  22961

In [79]:
syn_data.to_excel(r'C:/Users/liash/OneDrive/Desktop/Lia Resume/synthetic_content_views.xlsx', index=False)

In [80]:
print(syn_data.shape)

(244, 3)